@use "../../styles/variables.scss" as *;
.backlinks {
  position: relative;
  max-width: $pageWidth;
  margin: 0 auto 0;
  //padding: 0 1.5rem;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}
