@use "../../styles/variables.scss" as *;
header {
    font-family: var(--headerFont);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0 1.5rem;
    gap: 1.5rem;
    border-bottom: 1px solid var(--lightgray);
}
header a {
    text-decoration: none;
}
header > h1 > a,
header > h1 > a:visited,
header > h1 > a:hover {
    font-weight: 400;
    color: var(--dark) !important;
}
header > a {
    width: 17.5rem;
    @media all and (max-width: $pageWidth) {
        width: initial;
    }
}
header > a > img {
    width: 50px;
}

header h1 {
    //font-family: var(--headerFont);
    font-size: 2rem;
    margin: 0;
    flex: auto;
    text-align: center;
    @media all and (max-width: $pageWidth) {
        text-align: left;
    }
}