@use "../../styles/variables.scss" as *;
header {
    font-family: var(--headerFont);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0 1.5rem;
    gap: 1.5rem;
    border-bottom: 1px solid var(--lightgray);
    h2 {
        font-size: 2rem;
        margin: 0;
        flex: auto;
        text-align: center;
        @media all and (max-width: $pageWidth) {
            text-align: left;
        }
        a {
            text-decoration: none;
        }
        & > a,
        & > a:visited,
        & > a:hover {
            font-weight: 400;
            color: var(--dark) !important;
        }
    }
    & > a {
        width: 17.5rem;
        @media all and (max-width: $pageWidth) {
            width: initial;
        }
        & > img {
            width: 50px;
        }
    }
    & > .with-css {
        width: 17.5rem;
        display: flex !important;
        align-items: center;
    }
}