@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 0.3rem;

  &.section {
    display: grid;
    grid-template-columns: 6rem 1fr;
    gap: 0 0;
    grid-template-areas: "date title";

    time {
      grid-area: date;
    }
    .desc {
      grid-area: title;
    }

    @media all and (max-width: $mobileBreakpoint) {
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 > a {
      background-color: transparent;
    }

    & > .meta {
      margin: 0;
      flex-basis: 6em;
      opacity: 0.6;
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: 6em 1fr !important;
  & > .tags {
    display: none;
  }
}
