@use "../../styles/variables.scss" as *;
.tags {
    max-width: $pageWidth;
    margin: 0 auto 0;
    padding: 0;
}
.tags ul {
    list-style: none;
    display: flex;
    gap: 0.8rem 0.1rem;
    flex-wrap: wrap;
    justify-self: end;
    padding: 0;
}
.article-footer > .tags:before {
    content: "";
    border-top: 0.05rem solid var(--lightgray);
    width: 100%;
    padding-top: 0.5rem;
    display: block;
}
.section-li > .section > .tags > ul {
    justify-content: flex-end;
}

.tags > ul > li {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    overflow-wrap: normal;
    font-size: 1rem;
    line-height: 1rem;
}

a.internal.tag-link {
    background-color: var(--highlight);
    border-radius: 8px;
    margin: 0 0.1rem;
    padding: 0.3rem 0.4rem;
    font-weight: 700;
    text-decoration: none;
    font-family: var(--headerFont);
    color: var(--darkgray);
}